<div id="content">
  <li>
    {{#link-to 'question' question.id}}
      <h2>{{question.userQuestion}}</h2>
    {{/link-to}}
    <p id="cards">{{question.author}} <span id="from">//</span> {{question.city}}</p>
  </li>
</div>

{{#if question.onList}}
  <h2>Added</h2>
{{else}}
  <button id='heart' {{action 'addToFavorites' question}}>&#9829;</button>
{{/if}}
