<h1>{{question.userQuestion}}</h1>
<h2>from {{question.author}}</h2>

{{#each question.answer as |answer|}}
  {{answer-tile answer = answer}}
{{/each}}

<button {{action 'addToFavorites' post}}>Favorite</button>
<button {{action 'delete' post}}>x</button>
